<h1>Lista de Clientes</h1>
<table id="myTable" class="tablesorter"> 
<thead> 
  <tr>
      <th>Nombre</th>
      <th>Pais</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead> 
<tbody> 
<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.pais %></td>
    <td><%= cliente.email %></td>
    <td><img src="/images/startupeye.png" align="left"/>&nbsp;&nbsp;<%= link_to 'Ver', cliente %></td>
    <td><img src="/images/edit.png" align="left"/>&nbsp;&nbsp;<%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><img src="/images/delete.png" align="left"/>&nbsp;&nbsp;<%= link_to 'Borrar', cliente, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
  </tr>
</tbody>
<% end %>
</table>
<br />
<% if user_signed_in? %>
<a href="<%= new_cliente_path %>" data-role="button" data-inline="true" data-mini="true" data-icon="plus">Nuevo Cliente</a>
<% end %>